.home__section {
  display: flex;
  padding: 30px;
}
.home__sectionH {
  padding-left: 36px;
}
.home__exploreNearby {
  margin-left: -55px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
